.sideBarContainer{
    background-color: var(--color-white-head-side);
    padding:2rem 0;
}

.sideBarContainer:hover{
    width: 200%;
    z-index: 1;
}

.sideBarItem{
    padding:1.5rem;
}

.sideBarItem:hover{
    cursor: pointer;
    background-color: #F5EDED;
}

.sideBarItem > p{
    margin: 1rem 0 0 1.5rem;
}


